body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0070f3;
    color: white;
    padding: 20px;
    text-align: center;
}
/*Pedro Henrique Mendes Vieira Gonçalves - RA: 10439486
Leonardo Luppi Vanni Valente - RA: 10436603*/